<h2 style="text-align:center"> List of questions (<%=@questions.size%> in total)</h2>

<table class="questions_table" >
	
	<tr class="table_titles">
	<td> id </td>
	<td> Question </td>
	<td> Answer </td>
	<td> Dif. </td>
	<td> Mod. </td>
	</tr>

	<% @questions.each do |question| %>
		<tr class="table_rows">
		<td><%= question.id %></td>
		<td><%= question.text %></td>
		<td><%= question.answer %></td>
		<td><%= question.start_difficulty %></td>
		<td>
			<%= link_to 'Ed', question_path(question) %>
			<%= link_to 'Del', question_path(question), method: :delete %>
		</td>
		</tr>
	<% end %>

</table>

<h4><%= link_to 'Add a New Question', new_question_path%></h4>