<div class="row">
	<div class="col-xs-8">
		<h1 style="text-align:center;border:solid black 3px"><%= @question.text %></h1>

		<div class="question_info">
			<a class="seconds">0
			</a>
			<a class="question_stats">
			<%= @question.start_difficulty%> << Difficulty
			</a>
		</div>

		<script>
			var ticker = 0 
			setInterval(function(){
				ticker+=1;
				$('.seconds').text("seconds >>  " + (ticker / 100));
				}
			,10);
		</script>

		<%= form_for [@question, @response] do |form| %>
			<%= form.text_area :answer, value: '', class: 'answer_box'%>
			<br>
			<%= form.submit 'Submit Answer',style: "background-color:red;font-weight:bold" %>
		<% end %>

	</div>


	<div class="col-xs-4" style="vertical-align:middle">
		<br>
		<h5> User: <%= current_user.email%> </h5>
		<h5> Score: <%= current_user.get_rating %> </h5>
		<h5> Accuracy: <%= current_user.correct_answers%> / <%=current_user.questions_answered %> </h5>
		<h5> Avg speed: HOLD </h5>
		<h5> Speed Rating: HOLD</h5>

	</div>
</div>

<div class="row">
	<div class="col-xs-6", style="text-align:center">
		<h4>Your were <%= @last_response.outcome%></h4>
		<h5>Question: <%= @last_question.text %> </h5>
		<h5>Correct answer: <%= @last_question.answer %></h5>
		<h5>Your time: <%= @last_response.time / 1000%>s</h5>
	</div>
	<div class="col-xs-6". style="text-align:center">
		<h4>Actions</h4>
		<h5>Query Answer</h5>
		<h5>Post to twitter</h5>
		<h5>Post to facebook</h5>
	</div>
</div>





		
