<div class="row">
	<div class="col-xs-10">
		<h1 style="text-align:center;border:solid black 3px"><%= @question.text.html_safe %></h1>

		<div class="question_info">
			<a class="seconds">0
			</a>
			</a>
		</div>

		<script>
			var ticker = 0 
			setInterval(function(){
				ticker+=1;
				$('.seconds').text("secs >>  " + (ticker / 100));
				}
			,10);
		</script>

		<%= form_for [@question, @response] do |form| %>
			<%= form.text_field :answer, value: '', class: 'answer_box', autofocus: true, autocomplete: 'off' %>
			<br>
			<div class="row">
				<div class="col-xs-12", style="text-align:center">
					<%= form.submit 'Submit [Enter]',class: 'response_button', style: "background-color:black;color:white"%>
				</div>
<!-- 				<div class="col-xs-6", style="text-align:right">
					<%= form.submit 'Make it easier', class: 'response_button', style: "background-color:pink"%>
					<%= form.submit 'Make it harder', class: 'response_button', style: "background-color:red" %>
				</div> -->
			</div>
		<% end %>
	</div>


	<div class="col-xs-2" style="vertical-align:middle;text-align:center">
		<br>
		<div class="row">

		</div>
		<h4>Score:</h4>
		<h1><%= current_user.get_rating.to_i %> </h1>
		<h3><% if @last_response == nil %> no change <% else %><%= change_direction(current_user.get_rating - @previous_score)%> <% end %></h3>

	</div>
</div>

<br>



<% if @last_response == nil %>
	<h2 style="color:red;text-align:center">Welcome to your first question!</h2>

<% else %>
	
	<div class="row">
		
		<div class="col-xs-10", style="text-align:center">
			<div id="last_response">
				<h1 id="previousOutcome" onchange="checkOutcome();"><%= @last_response.outcome.upcase%></h1>
				<div class="row" id="last_response" style="text-align:center">
					<div class="col-xs-4"><h5>Question:</h5><h2><%= @last_question.text.html_safe %> </h2></div>
					<div class="col-xs-4"><h5>Correct answer:</h5><h2><%= @last_question.answer %></h2></div>
					<div class="col-xs-4"><h5>Your time:</h5><h2><%= number_with_precision(@last_response.time.to_f / 1000, precision: 2)%>s</h2></div>
				</div>
			</div>
		</div>

		<div class="col-xs-2". style="text-align:center">
				<h5>Stats:</h5>
				<h5> User:<br><%= current_user.email%> </h5>
				<h5> Accuracy:<br><%= current_user.correct_answers%> / <%=current_user.questions_answered %> </h5>
				<h5> Avg Speed:<br><%= number_with_precision(current_user.average_speed / 1000, precision: 2)%>s </h5>
			</div>
		</div>
	</div>
<% end %>

		<script>
			function checkOutcome() {
				var inputVal = document.getElementById("previousOutcome").innerHTML; 
				if (inputVal == "CORRECT") {
					$('#last_response').addClass('correct')
    			}
    			else if (inputVal == "INCORRECT") {
    				$('#last_response').addClass('incorrect')
    			}
    		}
			checkOutcome();
		</script>



		
