<h3>Your question:</h3> 
<h1><%= @question.text %></h1>

<%= form_for [@question, @response] do |form| %>
	<%= form.text_area :answer, value: '', size: '50x10' %>
	<br>
	<%= form.submit 'Create Response' %>
<% end %>

<br>

<%= link_to 'Skip question', new_response_path(Question.first) %>
